@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


* {
	margin : 0;
	padding : 0;
	font-family: 'Josefin Sans', sans-serif;
    color: black;
}

body {
    font-size: 18px;
}

a {
    text-decoration: none;
}

ul {
	list-style: none;
    padding-left: 0;
}

p, a {
    color: black;
}

h1 {
    color : white;
	font-size : 55px;	
	font-weight: bold;
}

h2 {
	font-size: 30px;
	font-weight: bold;
}

.haut {
	margin-top: 30px;
}

/*Menu*/
nav {
    background-color: rgb(60,6,94);
}

.navbar-brand {
    /* font-family: 'Lobster', sans-serif; */
    font-size: 25px;
}

nav ul li a, .navbar-brand {
    color: white !important;
}

.navbar-toggler {
    background-color: white;
}

/*Footer*/
footer {
    background-color: rgb(60,6,94);
}

footer .container div {
	padding: 20px;
}

footer a, footer p {
    color: white;
    font-size: 15px;
}

footer h4 {
    color: white;
    margin-bottom: 10px;
}

.home::before {
    content: url('../img/maison.png');
    position: relative;
    top: 10px;
    left: -3px;
}

.mail::before {
    content: url('../img/enveloppe.png');
    position: relative;
    top: 10px;
    left: -3px;
}

.mobile::before {
    content: url('../img/tel.png');
    position: relative;
    top: 10px;
}

/*Home Page*/

/*Section Home Banniere*/
.banniere{
    height: 500px;
    background-color: rgb(60,6,94);
}

.banniere div, .contenu div {
    height: 100%;
}

.fond {
	background : url('../img/info3.jpg') no-repeat top center;
	background-size: contain;
    height : 100%;
}

.description {
	color : white;
	font-size : 18px;
	margin-top : 10px;
    text-align: center;
    width : 70%;
}

/*Section Home Presentation*/


/*Section Home Contenu*/
.contenu {
    height: 500px;
}

.info4 {
	background : url('../img/info4.jpg') no-repeat top center;
	background-size: contain;
    height : 100%;
}

.dview {
    background-color :  rgb(60,6,94);
    color : white;
    text-transform: uppercase;
}

.gboite {
    height : 40%;
}

.boite {
    width : 48%;
    height: 90%;
}

.b1 {
    background-color: #29b7dd;
}

.b2 {
    background-color: #8b72ee;
}

.b3 {
    background-color: #5d3be7;
}

.b4 {
    background-color: #bd72ef;
}


/* Pages des 4 tables */
.name {
    margin-top: 100px;
}

/* Page Importer */
.input1 {
	width: 100%;
    border-radius: 2px;
    padding: 8px;
    margin-top : 140px;
}


@media all and (max-width: 992px) {
    .info4 {
        background-size: cover;
    }

    .contenu {
        margin-bottom : 450px;
    }
}


@media all and (max-width: 769px) {
    .fond {
        display: none;
    }
}



















